---
layout: default
---
{% include header.html %}
{% include nav.html %}
<main>
    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="jumbotron-inner">
                        <h1>{{ page.title }}</h1>
                        {% if page.excerpt %}
                        <p class="lead">{{ page.excerpt }}</p>
                        {% endif %}
                        {% if page.author %}
                        {% assign author = site.data.people[page.author] %}
                        <div class="people people-jumbotron">
                            <a href="{{ author.url }}"><img src="{{ site.url }}/img/people/{{ author.image }}" alt="{{ author.name }}" title="{{ author.name }}"></a> <a href="{{ author.url }}">{{ author.name }}</a>, {{ author.bio_short }}
                        </div>
                        {% endif %}
                        {% if page.form %}
                        <div class="request">
                            <p><a class="btn btn-primary btn-lg" href="{{ page.form }}" role="button">{% if page.form_text %}{{ page.form_text }}{% else %}Sign up{% endif %}</a> &nbsp; Questions? <a href="{{ site.url }}/contact">Contact us</a></p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                {{ content }}
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
</main>
{% include footer.html %}